.listGroupRoles {
    min-height: 10%;

    .editRoleIcon {
        cursor: pointer;
    }

    td {
        min-width: 13.4vw;

        &:first-child {
            min-width: 3vw;
        }

        &.schoolYear {
            min-width: 3vw;
        }
    }
}